
.Cancun {
    background-color: red;
}
.Meridian {
    background-color: lightblue;
}
.China {
    background-color: brown;
}
.Russia {
    background-color: yellow;
}
.Lebanon {
    background-color: lightblue;
}
.Fall{
    color: yellow;
}
.Spring{ 
    color: green;
}
.Winter {
    color: white;
}
.Summer {
    color: orange;
}