.nameContainer {
    display: grid;
    background-color: lightgray;
    grid-template-columns: 300px 300px 300px;
}
.header1 {
    color: red;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
   
}
.images {
    width: 250px;
    height: 250px;

}
.names {
    font-size: 25px;
    color: burlywood;
}
