#square {
    height: 300px;
    width: 300px;
    margin-left: 150px;
    margin-top: 50px;
    border: 2px solid black;
}
#q {
    height: 300px;
    width: 300px;
    margin-left: 150px;
    margin-top: 50px;
    border: 2px solid black;
}