#add {
    background-color: blue;
    padding: 10px;

}
#numb1 {
    background-color: bisque;
    padding: 3px;
    margin: 5px;
}
#numb2 {
    background-color: palegoldenrod;
    padding: 3px;
    margin: 5px;
}
#b1 {
    background-color: aquamarine;
    padding: 3px;
    margin: 5px;
}

#subtract {
    background-color: green;
    padding: 10px;

}
#numb3 {
    background-color: blanchedalmond;
    padding: 3px;
    margin: 5px;
}
#numb4 {
    background-color: wheat;
    padding: 3px;
    margin: 5px;
}
#b2 {
    background-color: burlywood;
    padding: 3px;
    margin: 5px;
}
#multiply {
    background-color: orange;
    padding: 10px;

}
#numb5 {
    background-color: bisque;
    padding: 3px;
    margin: 5px;
}
#numb6 {
    background-color: ivory;
    padding: 3px;
    margin: 5px;
}
#b3 {
    background-color: rosybrown;
    padding: 3px;
    margin: 5px;
}
#numb7 {
    background-color: azure;
    padding: 3px;
    margin: 5px;
}
#numb8 {
    background-color:lemonchiffon;
    padding: 3px;
    margin: 5px;
}
#numb9 {
    background-color:khaki;
    padding: 3px;
    margin: 5px;
}