.class {
    display: block;
    background-color: #F5C6D6;
    height: 150px;
    width: 800px;
    box-sizing: border-box;
    font-size: 0px;
}
.class1 {
    background-color: #EE2E84;
    height: 150px;
    width: 800px;
    display: block;


}
.class2 {
    background-color: #85CFD8;
    height: 150px;
    width: 800px;
    display: block;
}
.class3 {
    background-color: #8DC63F;
    height: 150px;
    width: 800px;
    display: block;
}
.class4 {
    background-color: #E76E34;
    height: 150px;
    width: 187px;
    position: absolute;
    display: block;
    top: 512px;
    left: 621px;
}
.class5 {
    background-color: white;
    height: 150px;
    width: 25px;
    display: block;
    position: absolute;
    top: 176px;
    left: 389px;
}
.class6 {
    background-color: white;
    height: 150px;
    width: 25px;
    display: block;
    position: absolute;
    top: 176px;
    left: 180px;
}
.class7 {
    background-color: white;
    height: 150px;
    width: 25px;
    display: block;
    position: absolute;
    top: 176px;
    left: 611px;
}
.class8 {
    background-color: white;
    height: 150px;
    width: 25px;
    display: block;
    position: absolute;
    top: 344px;
    left: 389px;
}
.class9 {
    background-color: white;
    height: 150px;
    width: 14px;
    display: block;
    position: absolute;
    top: 512px;
    left: 607px;
}
